/* Layout by https://grid.layoutit.com */
html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "DNS-Hits DNS-Hits DNS-Hits DNS-Hits"
    "Total-Queries-by-Return-Code Total-Queries-by-Server Total-Queries-by-Src-IP Total-Queries-by-Type";
}

.DNS-Hits { grid-area: DNS-Hits; }

.Total-Queries-by-Return-Code { grid-area: Total-Queries-by-Return-Code; }

.Total-Queries-by-Server { grid-area: Total-Queries-by-Server; }

.Total-Queries-by-Src-IP { grid-area: Total-Queries-by-Src-IP; }

.Total-Queries-by-Type { grid-area: Total-Queries-by-Type; }

/* Layout by https://divtable.com/table-styler/ */
table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 96%;
  margin: 0 2%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
  width: 50%;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 0px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
td:nth-child(2n) {
  text-align: right;
}

